/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* CSS RESET */



@media screen and (max-width: 2080px) {

    li a:hover {
        color: plum;
    }

    .orleans {
        width: 400px;
        visibility: visible;
    }

    body {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100vh;
        font-family: 'ArponaSans', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #FDAFAF;
        font-size: 18px;
    }

    #nav {
        font-family: 'Brush Script MT', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    #navigation {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        background-color: white;
        opacity: 85%;
    }

    #navigation #nav {
        background-color: white;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: right;
    }

    #nav ul li {
        float: none;
        display: inline-block;
    }

    #nav ul li:nth-child(1) {
        float: left;
    }

    #nav ul li:nth-child(2) {
        float: left;
    }

    li a {
        display: block;
        text-decoration: none;
        color: black;
        padding: 10px 20px;
    }

    #logo {
        width: 50px;
        height: 50px;
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -30px;
        padding-top: 10px;
    }

    /* CONTACT FORM CSS */
    .bot-white {
        padding-top: 2rem;
        display: flex;
        justify-content: center;

        width: 100%;
        height: 73%;
        background-color: white;
    }

    .form {
        max-width: 85%;
        height: 36rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-style: solid;
        border-width: 1rem;
        border-color: #FDAFAF;
        padding-bottom: 0.3rem;
    }

    .orleans {
        max-width: 350px;
    }

    .field {
        width: 75%;
        padding: 0.5rem 1rem;
        outline: none;
        border: 2px solid rgba(0, 0, 0, 0);
        background-color: rgba(230, 230, 230, 0.4);
        font-size: 1.1rem;
        margin-bottom: 22px;
        transition: .3s;
    }

    .field:hover {
        background-color: #FDAFAF;
    }

    .area {
        min-height: 250px;
    }

    .btn {
        width: 50%;
        padding: 0.5rem 1rem;
        padding-bottom: 0.2rem;
        font-size: 1.1rem;
        background-color: #FDAFAF;
        cursor: pointer;
        outline: none;
        color: white;
        border: none;
    }

    .c-u {
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: bold;
    }

    /* CSS FOR TOP MAP AREA */
    .center {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .top-pink {
        margin-top: 6rem;
        margin-bottom: 3rem;
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 0.2fr 2.3fr 0.1fr 2.3fr 0.2fr;
        grid-template-rows: 0.2fr 2fr 1.5fr;
        gap: 0px 0px;
        grid-template-areas:
            ". . . . ."
            ". left-column . contacts ."
            ". left-column . socials .";
    }

    .left-column {
        grid-area: left-column;
    }

    .contacts {
        grid-area: contacts;
    }

    .socials {
        grid-area: socials;
    }

    .white-bkg {
        background-color: white;
        padding: 0.6rem;
    }

    .icon {
        margin-top: 1rem;
        margin: 0.6rem;

    }

    .icons {
        margin-top: 5rem;
        margin: 0.6rem;
    }

    .ul-il {
        text-align: left;
        padding-left: 0.5rem;
        padding: 1rem;
    }

    .unordered {
        list-style: circle;
        padding-left: 2rem;
        padding: 1.5rem;
    }

    .icon {
        background-color: white;
        padding: 3px;
    }

    .asb {
        text-align: center;
        position: relative;
        margin-top: 100px;
        margin-bottom: -6px;

    }

    .asb:before {
        content: "";
        display: block;
        width: 40%;
        height: 2px;
        background: #735956;
        position: absolute;
        left: 0;
        top: 50%;
        z-index: -2;
    }

    .asb:after {
        content: "";
        display: block;
        width: 40%;
        height: 2px;
        background: #735956;
        position: absolute;
        right: 0;
        top: 50%;
        z-index: -2;
    }

    .span {
        background: #735956;
    }

    .footer {
        background-color: white;
        padding: 20px;
        justify-content: center;
        text-align: center;
    }

    .footer-div {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.1fr 0.5fr;
        gap: 0px 0px;
        grid-template-areas:
            ". . ."
            "footer-socials . footer-info";
    }

    .footer-socials {
        grid-area: footer-socials;
    }

    .footer-info {
        grid-area: footer-info;
    }

    .footer-info {
        font-size: 100%;
    }

    .icon {
        width: 50px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 980px) {
    .icons {
        width: 30px;
    }

    .footer-info {
        font-size: 80%;
    }

    .bot-white {
        height: 83%;
    }

    .form {
        max-width: 75%;
    }

    #nav {
        font-family: 'Brush Script MT', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

}

@media screen and (max-width: 660px) {

    .icons {
        width: 15px;
    }

    .footer-info {
        font-size: 60%;
    }

    .bot-white {
        height: 75%;
    }

    .form {
        max-width: 75%;

    }

}