/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS RESET */

@media screen and (max-width: 768px) {

    li a:hover {
        color: plum;
    }

    body {
        margin: 0px;
        padding: 0px;
        background-color: red;
        font-size: 16px;
    }

    #navigation {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        background-color: palevioletred;
    }

    #navigation #nav {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: right;
    }

    #nav ul li {
        float: none;
        display: inline-block;
    }

    #nav ul li:nth-child(1) {
        float: left;
    }

    #nav ul li:nth-child(2) {
        float: left;
    }

    li a {
        display: block;
        text-decoration: none;
        color: black;
        padding: 10px 20px;
    }

    #logo {
        width: 50px;
        height: 50px;
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -30px;
        padding-top: 10px;

    }
}