/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS RESET */

@media screen and (max-width: 768px) {

    li a:hover {
        color: plum;
    }

    body {
        display: flex;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100vh;
        background-color:#FDAFAF;
        font-size: 16px;
    }

    #navigation {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        background-color: white;
        opacity: 85%;
    }

    #navigation #nav {
        background-color:white;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: right;
    }

    #nav ul li {
        float: none;
        display: inline-block;
    }

    #nav ul li:nth-child(1) {
        float: left;
    }

    #nav ul li:nth-child(2) {
        float: left;
    }

    li a {
        display: block;
        text-decoration: none;
        color: black;
        padding: 10px 20px;
    }

    #logo {
        width: 50px;
        height: 50px;
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -30px;
        padding-top: 10px;

    }

    /* END OF NAVIGATION BAR */
    main {
        width: 100%;
        height: 100vh;
        background-color:aliceblue;
        display: flex;
        
    }

    /* QUOTE AREA */
    #quote {
        padding-top: 15%;
        text-align: center;
    }
    /* END OF QUOTE */

    .gallery {
        padding-top: 10rem;
        background-color:#FDAFAF;
        display: grid; 
        grid-template-columns: 1.1fr 0.9fr 1fr 1.3fr 0.9fr 0.8fr; 
        grid-template-rows: 0.5fr 1fr 1.2fr 0.8fr 1fr 1fr; 
        gap: 12px 12px; 
        grid-template-areas: 
          "img-1 img-1 img-1 img-2 img-2 img-2"
          "img-1 img-1 img-1 img-3 img-4 img-4"
          "img-5 img-5 img-5 img-6 img-6 img-6"
          "img-5 img-5 img-5 img-6 img-6 img-6"
          "img-7 img-7 img-7 img-7 img-7 img-7"; 
      }
      .img-1 { grid-area: img-1; }
      .img-2 { grid-area: img-2; }
      .img-3 { grid-area: img-3; }
      .img-4 { grid-area: img-4; }
      .img-5 { grid-area: img-5; }
      .img-6 { grid-area: img-6; }
      .img-7 { grid-area: img-7; }

      .brown-border{
        border:3px solid brown;
        background-color: brown;
      
      }

      .title {
          background-color: brown;
         
      }

      .img-2 {
        border:3px solid brown;
        background-color:brown;
      }
}

   

    

    .gallery div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

  

@media screen and (max-width: 900px){
    
    

}